.vs/
MyFinance2.sln
MyFinance2.vcxproj
MyFinance2.vcxproj.filters
MyFinance2.vcxproj.user
x64/
ExpRep_2042022.txt
ExpRep_Food2042022.txt
ExpRep_Health2042022.txt
ExpRep_m4y2022.txt
ExpRep_mSport 4y2022.txt
ExpRep_w162022.txt
RatingRep_m4y2022.txt
RatingRep_w162022.txt
Rating_Category_Rep_m4y2022.txt
Rating_Category_Rep_w162022.txt